@import "../../../style/mixins.scss";

.favorites-empty {
  @include empty-components;

  h2 {
    @include empty-components-titles;
  }

  p {
    @include empty-components-subtitles;
  }

  a {
    @include button-link;
    padding: 15px 70px;
  }
}

@media screen and (max-width: 1000px) {
  .favorites-empty {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .favorites-empty {
    padding-bottom: 0;
    padding-top: 50px;
  }
}
