@import "../../style/mixins.scss";

.shoes {
  @include pages-sections;

  &__container {
    @include pages-containers;
    gap: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    gap: 25px;
  }

  &__panel {
    @include box-shadow;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #000;
    border-radius: 20px;
    padding: 25px;
  }
}

@media screen and (max-width: 1440px) {
  .shoes__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .shoes__panel {
    flex-direction: column;
  }
}

@media screen and (max-width: 1015px) {
  .shoes__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 690px) {
  .shoes__list {
    grid-template-columns: 1fr;
  }
}
