.shoes {
  background-color: #fff;
  color: #000;

  &__container {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    gap: 25px;
  }
}

@media screen and (max-width: 1440px) {
  .shoes__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1015px) {
  .shoes__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 690px) {
  .shoes__list {
    grid-template-columns: 1fr;
  }
}

