@import "../../../style/mixins.scss";

.cart__top {
  @include box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  position: relative;

  &-info {
    span {
      opacity: 0.7;
      color: gray;
    }

    &-button {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 18px;
      background-color: transparent;

      &:hover {
        text-decoration: underline;
      }

      span {
        color: #000;
      }
    }
  }
  &-title {
    max-width: fit-content;
    position: relative;

    h1 {
      font-size: 38px;
      line-height: 30px;
      margin-bottom: 18px;
      font-weight: 700;
      line-height: 50px;
    }

    svg {
      position: absolute;
      top: 0;
      right: -50px;
    }
  }

  &-price {
    @include box-shadow;
    padding: 15px;
    font-size: 38px;
    line-height: 50px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
  }

  &-button {
    @include button-link;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .cart__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-info {
      width: 100%;
      margin-bottom: 20px;
    }

    &-price {
      width: 100%;
    }
  }
}

@media screen and (max-width: 380px) {
  .cart__top {
    svg {
      display: none;
    }
  }
}
