@import "../../style/mixins.scss";

.catalog {
  background-color: #000;
  border-bottom: 1px solid #fff;

  &__container {
    padding: 100px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 5px;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__item {
    padding: 25px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
    }

    img {
      width: 200px;
    }

    a {
      @include button-link;
      margin-top: 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 850px) {
  .catalog__block {
    grid-template-columns: 1fr;
  }
}
