@import "../../style/mixins.scss";

.favorites {
  @include pages-sections;

  &__container {
    @include pages-containers;
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    gap: 20px;
  }

  &__empty-list,
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1250px) {
  .favorites__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .favorites__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .favorites__list {
    grid-template-columns: 1fr;
  }
}
