@import "../../../style/mixins.scss";

.favorites__item {
  @include box-shadow;
  padding: 15px;
  border-radius: 20px;
  max-width: 450px;

  &-image {
    max-width: 600px;
  }

  img {
    width: 100%;
  }

  h4 {
    margin-bottom: 15px;
    height: 35px;
    font-size: 24px;
    font-weight: 500;
  }

  span {
    display: block;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 24px;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &-link,
  &-delete {
    @include button-link;
  }
}
