@import "../../style/mixins.scss";

.menu {
  @include modal-layout;
  justify-content: right;
  padding: 0;
  z-index: 10;

  &__content {
    background-color: #000;
    height: 100%;
    padding: 100px 70px 100px 25px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;

      li:last-child {
        margin-top: 5px;
        display: flex;
        gap: 15px;
      }
    }
  }

  &__link {
    text-transform: uppercase;
  }

  &__link_active {
    text-transform: uppercase;
    color: red;

    svg {
      fill: red;
    }
  }
}

@media screen and (min-width: 650px) {
  .menu {
    display: none;
  }
}
