@import "../../style/mixins.scss";

.single-shoe {
  @include pages-sections;

  &__container {
    padding: 50px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__loading {
    padding: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .single-shoe__container {
    padding: 30px 15px 50px 15px;
    flex-direction: column;
    gap: 10px;
  }
}
