@import "../../style/mixins.scss";

.hero {
  background-color: #fff;

  &__container {
    color: #000;
    padding: 150px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    max-width: 600px;
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.25px;
    opacity: 0.5;
    margin-bottom: 45px;
  }

  &__link {
    @include button-link;
  }

  &__image-block {
    max-width: 700px;

    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 930px) {
  .hero__container {
    flex-direction: column-reverse;
    gap: 15px;
    padding: 50px 15px;
  }
}
