@import "../../../style/mixins.scss";

.cart__item {
  @include box-shadow;
  padding: 15px 15px 0 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  &-image {
    max-width: 250px;

    img {
      width: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;

    h2 {
      font-size: 28px;
    }

    span {
      display: block;
      padding: 10px 0;
      font-size: 24px;
    }

    .cart__item-buttons {
      display: flex;
      gap: 15px;
      a,
      button {
        @include button-link;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .cart__item {
    flex-direction: column;

    &-info {
      padding-bottom: 25px;
      gap: 10px;
    }
  }

  .cart__item-info {
    width: 100%;
  }
}
