@import "../../style/mixins.scss";

.cart {
  @include pages-sections;

  &__container {
    @include pages-containers;
  }

  &__list {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
}
