@import "../../../style/mixins.scss";

.single-shoe {
  &__info {
    @include box-shadow;
    max-width: 710px;
    position: relative;
    padding: 20px;
    border-radius: 20px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
  }

  &__color-way {
    display: block;
    opacity: 0.5;
    line-height: 1.5;
    color: #2f2f2f;
    margin-bottom: 25px;
  }

  &__price {
    margin: 25px 0;
    position: relative;

    h2 {
      font-size: 36px;
    }
  }

  &__desc {
    font-size: 28px;
    font-weight: 700;
  }

  &__description {
    margin-top: 5px;
    line-height: 1.5;
    color: #2f2f2f;
  }

  &__features {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;
    flex-direction: column;

    button {
      @include button-link;
    }
  }
}

.features {
  margin-bottom: 35px;

  div {
    display: flex;
    gap: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list-titles {
    li {
      font-weight: 700;
    }
  }
}

.heart {
  position: absolute;
  top: -10px;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #fef0f0;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 410px) {
  .single-shoe__buttons {
    flex-direction: column;
  }
}
