@import "../../../style/mixins.scss";

.shoes__item {
  @include box-shadow;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  &-img {
    text-align: center;
    img {
      width: 200px;
    }
  }

  &-title {
    width: 100%;
    height: 100px;
    font-size: 28px;
    text-align: left;
  }

  &-price {
    width: 100%;
    font-size: 28px;
    text-align: left;
    margin-bottom: 25px;
  }

  &-buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &-favorite-btn {
    background: #ffffff;
    border: 2px solid #d1cfcf;
    border-radius: 10px;
    padding: 0 12px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-favorite-btn_added {
    background-color: #fef0f0;
    padding: 0 12px;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-more-link {
    @include button-link;
    padding: 15px 70px;
    text-transform: uppercase;
  }
}
