.header {
  border-bottom: 1px solid #fff;

  &__container {
    padding: 30px 15px 24px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    text-transform: uppercase;
  }

  &__link_active {
    text-transform: uppercase;
    color: red;
  }

  &__icons {
    display: flex;
    gap: 50px;
  }

  &__menu-button {
    background-color: transparent;
    position: relative;
    z-index: 20;
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header__navbar,
  .header__icons {
    display: none;
  }

  .header__menu-button {
    display: block;
  }
}
