@import "../../style/mixins.scss";

.header {
  background-color: #000;

  &__container {
    @include header-and-footer-containers;
    padding: 30px 15px 24px 15px;
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    text-transform: uppercase;
    transition: color 0.5s;

    &:hover {
      color: rgb(255, 0, 0);
    }
  }

  &__link_active {
    text-transform: uppercase;
    color: red;

    svg {
      fill: red;
    }
  }

  &__icons {
    display: flex;
    gap: 50px;
  }

  &__menu-button {
    background-color: transparent;
    position: relative;
    z-index: 20;
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header__navbar,
  .header__icons {
    display: none;
  }

  .header__menu-button {
    display: block;
  }
}
