@import './null.scss';

@font-face {
  font-family: 'FuturaBookC';
  src: local('DancingScript'),
    url('./../fonts/futura/futura-book-regular.otf') format('truetype');
  font-weight: regular;
}

body {
  font-family: 'FuturaBookC', sans-serif;
  color: #fff;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}