@import "../../../style/mixins.scss";

.cart__history-modal {
  @include modal-layout;

  h2 {
    font-size: 36px;
    margin-top: 30px;
  }

  &-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    li {
      @include box-shadow;
      display: flex;
      flex-direction: column;
      padding: 15px;
      border-radius: 20px;
      font-size: 18px;
      max-width: 100%;
      width: 100%;

      span {
        line-height: 40px;
      }

      h5 {
        font-size: 24px;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
      }
    }
  }

  &-content {
    max-height: 570px;
    overflow: auto;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 15px;
    position: relative;

    h2 {
      text-align: center;
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
    }
  }
}
