@import "../../../style/mixins.scss";

.cart-empty {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 38px;
    line-height: 30px;
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  a {
    @include button-link;
    padding: 15px 70px;
  }
}

@media screen and (max-width: 850px) {
  .cart-empty {
    padding: 30px;
  }
}
