.shoes__item {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  &_favorite {
    -webkit-box-shadow: 0px 5px 77px 2px rgba(34, 172, 38, 0.2);
    -moz-box-shadow: 0px 5px 77px 2px rgba(34, 172, 38, 0.2);
    box-shadow: 0px 5px 77px 2px rgba(34, 172, 38, 0.2);
  }

  &-img {
    text-align: center;
    img {
      width: 200px;
    }
  }

  &-title {
    width: 100%;
    height: 100px;
    font-size: 28px;
    text-align: left;
  }

  &-price {
    width: 100%;
    font-size: 28px;
    text-align: left;
    margin-bottom: 25px;
  }

  &-buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &-favorite-btn {
    background: #ffffff;
    border: 2px solid #d1cfcf;
    border-radius: 10px;
    padding: 0 12px;
  }

  &-favorite-btn_added {
    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
    padding: 0 12px;
    border-radius: 10px;
  }

  &-more-link {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 15px;
    color: white;
    padding: 15px 70px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
